body {
    background-color: deepskyblue;
}

p{
    background-color: gray;
    color: #fff;
}

#selektor-po-id {
	color: yellow;
}

.selektor-po-klasie {
    color: violet;
}

#moniki p {
    color: green;
}

div#moniki> div> div> p {
    color: lightcoral;
}

p#selektor-po-id ~ p {
    color: orange
}

p#selektor-po-id + p {
    color: magenta;
}
