body {
    background-color: red;
}

div {
    width: 300px;
    height: 30px;
    margin: 15px;    
}

#predefiniowane {
    background-color: lightblue;
}

#hexadecymalne {
    background-color: #45aa24;
}

#skrocony-hex {
    background-color: #000;
}

#rgb {
    background-color: rgb(69, 240, 67)
}

#rgba {
    background-color: rgba(69, 240, 67, 0.6);
}
